@font-face {
  font-family: "DIN Next Rounded LT Pro";
  src: url("./assets/fonts/DINNextRoundedLTPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DIN Next Rounded LT Pro";
  src: url("./assets/fonts/DINNextRoundedLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DIN Next Rounded LT Pro";
  src: url("./assets/fonts/DINNextRoundedLTPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DIN Next Rounded LT Pro";
  src: url("./assets/fonts/DINNextRoundedLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
